@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  padding: 0;
}

/* Welcome screen */
.welcome {
  display: grid;
  height: 100vh;
  align-content: center;
  justify-items: center;
  /* background: linear-gradient(rgb(252, 72, 8), rgb(250, 250, 54), rgb(252, 72, 8)); */
  background: linear-gradient(rgb(252, 72, 8), rgb(20, 105, 245));
}

.welcome__logo {
  width: 80%;
  height: auto;
}

.welcome__button {
  padding: 15px;
  border-radius: 10px;
  font-family: 'Press Start 2P', cursive;
  font-size: 22px;
}
