@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --gameBlue: rgb(53, 10, 245);
  --gameRed: rgb(245, 10, 10);
  --gameGreen: rgb(11, 206, 4);
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
}

.wrapper {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

/* Helpers */

.screen-title {
  font-size: 30px;
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Welcome screen */
.welcome {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: grid;
  align-content: center;
  justify-items: center;
  background: linear-gradient(rgb(252, 72, 8), rgb(20, 105, 245));
  transform: scale(0);
  transition: all 0.8s;
}

.welcome__scale-up {
  transform: scale(1);
}

.welcome__move-down {
  transform: translateY(100%);
}

.welcome__logo {
  width: 80%;
  height: auto;
}

.welcome__button {
  width: 240px;
  margin-bottom: 20px;
  padding: 15px;
  color: #282828;
  background: #fff;
  border-radius: 10px;
  font-family: "Press Start 2P", cursive;
  font-size: 22px;
}

/* Game setup */

.game-setup {
  height: 100vh;
  background: #000;
  color: #fff;
  transform: translateY(-100%);
  transition: all 0.8s;
}

.game-setup__move-down {
  transform: translateY(0);
}

.game-setup__content {
  margin: 50px;
  display: grid;
  grid-template-areas:
    "difficulty difficulty"
    "image grid-size";
  grid-gap: 40px;
  font-size: 18px;
}

.difficulty {
  grid-area: difficulty;
}

.difficulty__value {
  color: var(--gameGreen);
  font-size: 22px;
}

.difficulty__slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: var(--gameGreen);
  outline: none;
  opacity: 0.8;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-top: 14px;
}

.difficulty__slider:hover {
  opacity: 1;
}

/* this one */
.difficulty__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  content: "";
  width: 35px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid red;
  background: orange;
  cursor: pointer;
}

.grid-size {
  grid-area: grid-size;
}

.puzzle-image {
  grid-area: image;
}
