@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --gameBlue: rgb(16, 127, 192);
  --gameRed: rgb(245, 10, 10);
  --gameGreen: rgb(11, 206, 4);
  --chosenImage: url('../images/puzzles/img1.jpg');
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
}

/* Helpers */

.screen-title {
  font-size: 30px;
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Welcome screen */
.welcome {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: grid;
  align-content: center;
  justify-items: center;
  background: linear-gradient(rgb(252, 72, 8), rgb(20, 105, 245));
  transform: scale(0);
  transition: all 0.8s;
}

.welcome__scale-up {
  transform: scale(1);
}

.welcome__move-right {
  transform: translateX(100%);
}

.welcome__logo {
  width: 80%;
  height: auto;
}

.welcome__button {
  width: 240px;
  margin-bottom: 20px;
  padding: 15px;
  color: #282828;
  background: #fff;
  border-radius: 10px;
  font-family: "Press Start 2P", cursive;
  font-size: 22px;
}

/* Game setup */

.game-setup {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: #000;
  color: #fff;
  transform: translateX(-100%);
  transition: all 0.8s;
}

.game-setup__move-right {
  transform: translateX(0);
}

.game-setup__content {
  margin: 50px;
  display: grid;
  grid-template-areas:
    "difficulty difficulty"
    "image grid-size"
    "control control";
  justify-content: center;
  grid-gap: 40px;
  font-size: 18px;
}

.difficulty {
  grid-area: difficulty;
}

.difficulty__value {
  color: var(--gameGreen);
}

.difficulty__slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: var(--gameGreen);
  outline: none;
  opacity: 0.8;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-top: 14px;
}

.difficulty__slider:hover {
  opacity: 1;
}

/* this one */
.difficulty__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  content: "";
  width: 35px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid var(--gameRed);
  background: orange;
  cursor: pointer;
}

.grid-size {
  grid-area: grid-size;
}

.grid-size__options {
  display: grid;
  grid-template-columns: 86px 106px 126px;
}

.grid-size__value {
  color: var(--gameRed);
}

.grid-size__3x3 {
  width: 60px;
  display: grid;
  grid-template-columns: repeat(3, 20px);
  align-content: start;
}

.grid-size__4x4 {
  width: 80px;
  display: grid;
  grid-template-columns: repeat(4, 20px);
  align-content: start;
}

.grid-size__5x5 {
  width: 100px;
  display: grid;
  grid-template-columns: repeat(5, 20px);
  align-content: start;
}

.grid-size__square {
  background: transparent;
  border: 1px solid #fff;
  height: 20px;
}

.grid-size__chosen {
  border: 2px solid transparent;
  outline: 2px solid var(--gameRed);
}

.puzzle-image {
  grid-area: image;
  position: relative;
}

.puzzle-image__value {
  color: var(--gameBlue);
}

/* Slideshow styles adapted from the W3Schools slide-show example */

.puzzle-image__slideshow {
  position: relative;
  max-width: 320px;
}

.puzzle-image__image {
  max-width: 320px;
  border: 2px solid transparent;
  outline: 2px solid var(--gameBlue);
}

.puzzle-image__container {
  display: none;
}

.puzzle-image__prev,
.puzzle-image__next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  border-radius: 0 23px 23px 0;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 1px 1px #000;
  transition: 0.6s ease;
  cursor: pointer;
  user-select: none;
}

.puzzle-image__next {
  right: -4px;
  border-radius: 23px 0 0 23px;
}

.puzzle-image__prev:hover,
.puzzle-image__next:hover {
  background-color: var(--gameBlue);
}

.puzzle-image__text {
  position: absolute;
  bottom: -12px;
  width: 70%;
  left: 50%;
  margin-left: -35%;
  padding: 6px 0;
  color: #f7f7f7;
  background: var(--gameBlue);
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}

.puzzle-image__number {
  position: absolute;
  top: 0;
  padding: 8px 12px;
  color: #f2f2f2;
  font-size: 12px;
}

.puzzle-image__fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.game-start {
  grid-area: control;
  text-align: center;
  margin-top: 25px;
}

/* Game area */

.game-area {
  display: grid;
  position: absolute;
  width: 100%;
  grid-template-columns: auto auto 1fr auto auto;
  /* grid-gap: 20px; */
  background: grey;
  height: 100vh;
  transform: translateX(100%);
  transition: all 0.8s;
}

.game-area__move-left {
  transform: translateX(0);
}

.game-area__info {
  background: var(--gameBlue);
  color: white;
  padding: 20px 10px 20px 10px;
  text-align: center;
  font-size: 20px;
}

.game-area__border {
  width: 20px;
  background: linear-gradient(
    to right, rgb(252, 72, 8), rgb(250, 250, 54), rgb(252, 72, 8)
  );
}

.game-area__content {
  display: grid;
  align-items: center;
  justify-items: center;
  /* background: rgb(13, 182, 13); */
  background: var(--gameGreen);
  color: white;
  padding: 20px;
}

.game-area__grid {
  position: relative;
  width: 12em;
  height: 12em;
  margin: 0 auto;
  background: slategray;
  font-size: 50px; /* used to increase grid square size via ems*/
  cursor: pointer;
}

.game-area__buttons {
  background: var(--gameBlue);
  color: white;
  padding: 20px 10px 20px 10px;
  text-align: center;
  font-size: 20px;
}

/* Puzzle grid */

[id^=gridpos] {
  position: absolute;
  box-sizing: border-box;
  width: 4em;
  height: 4em;
}

#gridpos-00 {
  top: 0;
  left: 0;
}

#gridpos-01 {
  top: 4em;
  left: 0;
}

#gridpos-02 {
  top: 8em;
  left: 0;
}

#gridpos-10 {
  top: 0;
  left: 4em;
}

#gridpos-11 {
  top: 4em;
  left: 4em;
}

#gridpos-12 {
  top: 8em;
  left: 4em;
}

#gridpos-20 {
  top: 0;
  left: 8em;
}

#gridpos-21 {
  top: 4em;
  left: 8em;
}

#gridpos-22 {
  top: 8em;
  left: 8em;
}

/* Puzzle tiles */

.tile-0 {
  background-color: lightgray;
  background-position: -8em -8em;
}

.tile-1 {
  background-image: var(--chosenImage);
  background-position: 0px 0px;
}

.tile-2 {
  background-image: var(--chosenImage);
  background-position: 0px -4em;
}

.tile-3 {
  background-image: var(--chosenImage);
  background-position: 0px -8em;
}

.tile-4 {
  background-image: var(--chosenImage);
  background-position: -4em 0px;
}

.tile-5 {
  background-image: var(--chosenImage);
  background-position: -4em -4em;
}

.tile-6 {
  background-image: var(--chosenImage);
  background-position: -4em -8em;
}

.tile-7 {
  background-image: var(--chosenImage);
  background-position: -8em 0px;
}

.tile-8 {
  background-image: var(--chosenImage);
  background-position: -8em -4em;
}

.tile-9 {
  background-image: var(--chosenImage);
  background-position: -8em -8em;
}




@media (max-width: 768px) {
  .game-setup__content {
    margin: 25px;
    display: grid;
    grid-template-areas:
      "control"
      "difficulty"
      "image"
      "grid-size";

    grid-gap: 40px;
    font-size: 14px;
  }

  .game-area {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr auto auto;
  }

  .game-area__border {
      height: 20px;
      width: 100%;
      background: linear-gradient(rgb(252, 72, 8), rgb(250, 250, 54), rgb(252, 72, 8));
  }

}
